/*UNIVERSAL*/
*{
	margin : 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/**/

/*BAGIAN ATAS*/
	/*BAGIAN HEADER BAR*/
	header{
		background-color: #C21111;
		height: 1.5em;
		text-align:right;
		padding: 0.5em 2em;
	}
		header a{
			color:#f4f4f4;
		}
	/**/
	/*Judul pada Class Title SIMPLE LAPOR*/
	#head{
		margin: 0em 0em 3em;
		text-align: center;
		font-family: sans-serif;
		padding-top: 3em;
	}
	/**/
/**/

/*BAGIAN ISI*/
#container{
	background-color:#FBF8F8;
}	
	/*BADAN*/
	#badan {
		text-align: center;
		line-height: 2.5em;
	}
		#badan a{
			color: #6A0606;
		}
		#badan input{
			border: 1px solid grey;
			padding: 0.5em;
			background-color:white;
			transition: 0.3s all ease-out;
		}
		#badan input:hover{
		    box-shadow: 0px 5px 8px 0px;
		    color: #562121;
		    transition: 0.3s all ease-out;
		    background:#EEEEEE;
		}
		#badan input[type=submit]{
		    cursor: pointer;
		}
		/*AKHR BADAN*/
	#konten{
		padding: 0.5em 8em 1.5em 8em;
	}
		#konten .textarea{
			resize:none; 
			width:98.5%; 
			height:181px;
			font-family: times new roman,sans-serif;
			padding: 0.5em;
		}
		select{
			margin: 1.5em 0em;
			padding: 0.5em;
			cursor: pointer;
		}
		/*PERBAIKAN*/
		#konten input{
		    cursor: pointer;
			font-family: serif;
			font-size: 14px;
		}
		#konten .jarak{
			text-align: right;
		}
		#konten input[type=submit]{;
		    padding: 0.5em;
		    background-color: #C21111;
		    margin: 1em 0em;
		    height: 40px;
		    color: white;
		}
	 
/*BAGUAB BAWAH*/
footer{
	background-color: #C21111;
	color:#E2E1E1;
	line-height:2.4em;
	text-align:center;
}
/*